@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {box-sizing: border-box;}


body {
  margin: 0; /* ALWAYS START WITH THIS TOO */
  font-family: 'Lato', sans-serif;
  font-size: 1rem; /* default size of 16px */
  color: #404040;
  line-height: 1.6; /* will ususally need to play about with this */

}

img {
  max-width: 100%; /* Always do this to prevent overflow on small screens */
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
