* {box-sizing: border-box;}

body {
    margin: 0; /* ALWAYS START WITH THIS TOO */
    font-family: 'Arial', sans-serif;
    font-size: 1rem; /* default size of 16px */
    color: #404040;
    line-height: 1.6; /* will ususally need to play about with this */

}

img {
    max-width: 100%; /* Always do this to prevent overflow on small screens */
}


/* ==================
    Typography
===================== */


/* Buttons */



/* ==================
    General Layout
===================== */



/* Navigation */




/* Footer */